/.vscode

# BackEnd/Database
/BackEnd/Database/IngestionScripts/__pycache__
/BackEnd/Database/IngestionScripts/Table_Files
/BackEnd/Database/IngestionScripts/.env

# FrontEnd
/FrontEnd/.angular
/FrontEnd/.vscode
/FrontEnd/node_modules
.DS_Store



/FrontEnd/.editorconfig