<h4 class="heading">Temporal Analysis of US Motor Vehicle Accidents Trends (2019-2023)</h4>
<p id="q1">Accident Rates in Different States</p>
<div class="col-lg-12 col-md-6 mt-4 mb-4" style="padding: 20px;">
    <div class="card z-index-2 ">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
        <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
          <div class="chart">
            <canvas id="chart-bars" class="chart-canvas" height="750">{{chart1}}</canvas>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h6 class="mb-0 ">Average Accidents Per Year</h6>
        <p class="text-sm ">Average of Total Number of Accidents in all the 12 months of the year.</p>
        <hr class="dark horizontal">
        <div class="d-flex ">
          <i class="material-icons text-sm my-auto me-1">schedule</i>
          <p class="mb-0 text-sm"> 2016-2023 </p>
        </div>
      </div>
    </div>
  </div>