.total
{
    margin-bottom: 30px;
    margin-top: 0px;
    padding-left: 20px;
    font-size: 22px;
    font-weight: bold;
    padding-top: 0px;

}

.total b
{
    color: black;
}

.top-line
{
    border: 10px solid green;
    border-radius: 5px;
}
.heading
{
    margin-left: 15px;
    padding-top: 20px;
    padding: 0px 0px 0px 0px;
}